@max-width: 1200px;
@gutter: 30px;

*,
*:after,
*:before {
  box-sizing: border-box;
}
h1, h2, h3, h4 {
    margin: 0;
}
html {
    background: #eee;
}
body {
	font: 15px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #555;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	font-size: 20px;
	line-height: inherit;
}
a, a:hover, a:visited {
  color: #005b9f;
}
a:hover {
	text-decoration: none;
}
h1 {
    font-size: 125%;
    text-align: center;
}
p {
    margin-top: 0;
    margin-bottom: @gutter;
}
.container {
    max-width: @max-width;
    margin-left: auto;
    margin-right: auto;
    padding: @gutter/2;
}
blockquote {
    font-weight: 700;
    font-size: 180%;
    padding: 0;
    margin: 0;
    padding-left: @gutter/2;
    border-left: 5px solid #ccc;
    letter-spacing: -1px;
}
.quote {
    background: #fff;
    margin-top: 0;
    margin-bottom: @gutter/2;
    padding: @gutter;
}
header p {
    margin-bottom: 0;
    text-align: center;
}
button {
    display: inline-block;
    padding: @gutter/3 @gutter;
    border-radius: 3px;
    text-decoration: none;
    font-size: 100%;
    line-height: 1.33;
    background-color: #009F62;
    border: 1px solid #009F62;
    color: #ffffff;
    cursor: pointer;
    background-image: none;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;

    &:hover {
        color: #ffffff;
        background-color: #028452;
    }

}
.share {
    text-align: center;
    margin-bottom: @gutter;
}
footer {
    border-top: 1px solid #ccc;
}
.parakeet {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid #ccc;
    position: absolute;
    top: @gutter/2;
}
@media (min-width: 800px) {
    h1 {
        margin-bottom: @gutter/2;
        font-size: 180%;
    }
    blockquote {
        font-size: 280%;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: @gutter;
    }
    .quote {
        margin-bottom: @gutter;
        padding: @gutter*2;
    }
    blockquote {
        padding-left: @gutter;
    }
}

body:hover {
    
}